

* {
    margin:0;
    padding:0;
}
body{
    background-color:#193852;
}
header{
    height:10%;
    margin-bottom:1.5em;
}
nav{
    position:relative;
    top:0%;
    width:100%;
    min-height:13%;
    
}
nav ul{
    list-style-type: none;
    margin:0 ;
    padding:0 auto;
    overflow:hidden;
    display:flex;
    background-image: url("https://github.com/D-dhiman/D-dhiman.github.io/blob/main/nav-removebg-preview.png");
    border-bottom: #f1b534 solid;
}
nav ul li{
    float:center;
    
}
nav ul li a{
    display:block;
    color:#FCECC9;
    text-shadow:-2px -2px 1px black ;
    text-align: center;
    text-decoration:none;
    font-size:1.2rem;
    font-family:'work sans';
    padding:1em 1.15em 1em 1.15em;

}
nav ul li a:hover{
    display:block;
    color:#FCECC9;
    text-shadow:-2px -2px 2px rgb(209, 143, 0) ;
    text-align: center;
    font-size:1.2rem;
    font-family:'work sans';
    padding:1em 1.15em 1em 1.15em;
}
#aboutme .about{
    display:flex;
    flex-direction: row;
    margin-top:0.5em;
    max-width: 1200px;
    gap:4em;
    margin:auto;
}

#aboutme h1{
    color:#f4b305;
    font-family:'satisfy';
    font-size:4rem;
    text-align:left;
    padding-left:0.9em;

}
#aboutme .about p{
    color:#FCECC9;
    font-family:'roboto';
    font-size:2rem;
    text-align: left;
    border-left:#c6ca74 solid;
    margin:1.25em;
    width:auto;
    margin-left:0;
    padding:0.15em;
}
.about img{
    width:325px;
    border-radius: 10%;
    height:auto;
    overflow:hidden;
    float:right;
    margin:2em 4em;
    padding:2em;
    transition:0.3s;
}
.about img:hover{
    transition:0.3s;
    transform:scale(1.2);
}
#aboutme .education{
    display:flex;
    flex-direction: row-reverse;
    margin-top:0.5em;
    max-width: 1200px;
    gap:4em;
    margin:auto;
}

#aboutme h2{
    color:#93b6f8;
    font-family:'roboto';
    font-size:4rem;
    text-align:right;
    padding-right:4.7em;

}
#aboutme .education p{
    color:#FCECC9;
    font-family:'roboto';
    font-size:2rem;
    text-align:left;
    border-left:#c6ca74 solid;
    margin:1.25em;
    width:auto;
    margin-left:0;
    padding:0.15em;
}
.education img{
    width:325px;
    border-radius: 15%;
    height:auto;
    overflow:hidden;
    float:right;
    margin:2em 4em;
    padding:2em;
    transition:0.3s;
}
.education img:hover{
    transition:0.3s;
    transform:scale(1.2);
}
#skills h1{
    letter-spacing:1ch;
    color:#c6ca74;
    font-family: 'prompt';
    font-size:4rem;
    text-align: center;
    margin:0;
    padding: auto;
    border-top: #1a3a55 solid;
    text-size-adjust:30px;
}

h3{
    margin:5px;
}
.skill {
    color:#efe198;
    font-family:'comfortaa';
    font-size:1.5rem;
    list-style:none;
    width:90%;
    margin:60px auto;
    padding:20px;
    border-top:#f4b305 solid 1px;
}
.skill li{
    margin:10px 0;
    padding:10px;
}
.bar{
    display:block;
    background:#1f4564;
    height:13px;/*creates hieght of bar*/
    border:solid 1px #133550;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0px 1px 3px #11283ad5, 0 1px 2px #11283ad5;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); /*creates transition for .bar hover*/
}
.bar:hover{
    box-shadow:0px 14px 28px #11283ab0, 0 10px 10px #11283aa2;/*boxshadow after animation*/
}

.bar span{
    height:13px;
    float:left;
    background:linear-gradient(135deg,#f4b305,#0559f4);
}
.html{
    width:90%; /*the width of the bar graph*/
    animation:html 3s; /*creats animation for html*/
    border-radius: 10px;/*rounds the end*/
}
.css{
    width:63%;
    animation:css 3s;
    border-radius: 10px;
}
.painting{
    width:95%;
    animation:painting 3s;
    border-radius: 10px;
}
.cpp{
    width:60%;
    animation:cpp 3s;
    border-radius: 10px;
}
.java{
    width:65%;
    animation:java 3s;
    border-radius: 10px;
}
.dsa{
    width:16%;
    animation:dsa 3s;
    border-radius: 10px;
}
.python{
    width:85%;
    animation:python 3s;
    border-radius: 10px;
}
@keyframes html{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:90%
    }
}
@keyframes css{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:63%
    }
}
@keyframes dsa{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:16%
    }
}
@keyframes cpp{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:60%
    }
}
@keyframes java{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:65%
    }
}
@keyframes painting{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:95%
    }
}
@keyframes python{ /*creats keyframs at specified percentages and alter the parameters accordingly*/
    0%{
        width:0%
    }
    100%{
        width:85%
    }
}
#projects h1{
    color:#4a89b1; 
    font-family:'prompt';
    font-size:5rem;
    text-align:center;
    text-shadow:2px 2px navy;
    padding:0;
}

.c-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:2em;
    margin:2em;
}
.card{
    width:325px;
    background:#FCECC9;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0b2031b0;
    overflow: hidden;
    transition:transform 0.6s ease;
}
.card:hover{
    transform:translateY(-30px);
}
.card img{
    width:100%;
    height:50%;
    object-fit:cover;

}

.c-content{
    padding:1em;
}
.c-content h2{
    font-family:'comfortaa';
    font-size:1.5rem;
    margin-bottom:0.75em;

}
.c-content p{
    font-family:'roboto';
    font-size:.75rem;
    margin-bottom:.25;
    color:rgb(180, 99, 0);
    
}

footer{
    background-color: #0903245b;
}
.footer-container{
    width:90%;
    padding:2em 3em;
}
footer h3{
    color:#f4b305;
    font-family:'satisfy';
    font-size:2.75rem;
    text-align:center;
    text-shadow:0 2px 4px #cf4c00;
}
.icons{
    display:flex;
    justify-content: center;
    gap:2em;
}
.icons a{
    background-color: #c6ca74;
    padding:1em;
    border-radius:50%;
}
.icons a i{
    font-size:2rem;
    color:#193852;
    opacity:0.9;
}

.icons a:hover{
    background-color:#09032400;
    transition:0.5s;
}
.icons a i:hover{
    color:#c6ca74;
    transition:0.6s;
    transform:scale(2);
}
.resume{
    display:flex;
    justify-content: center;
}
.resume button{
    color:#FCECC9;
    font-size:1rem;
    padding:0.75em;
    font-family:'roboto';
    background: none;
    border:#FCECC9 solid 2px;
    border-radius: 10px;
}
.resume button:active{
    transform:scale(1.1);
}
.footer-bottom {
    background-color:#01072c;
    padding:2em;
    text-align: center;
}
.footer-bottom p{
    color:#FCECC9;
    font-size:1rem;
    font-family:'Times New Roman', Times, serif;
}


/*87192E
FCECC9
445E93
#f34767*/
